@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  padding: auto auto;

  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
}

.x-bgcolor {
  background-color: #1d9bf0;
}

.x-textcolor {
  color: #1d9bf0;
}

.divison-color {
  background-color: red;
}

.dimBg {
  background-color: rgba(31, 34, 39, 0.867);
}

.gray {
  color: #a2a2a2b9;
}

@keyframes heartBeat {
  0%,
  100% {
    transform: scale(1);
    color: #f5305b;
  }
  50% {
    transform: scale(1.21);
    color: #aa0362;
  }
  70% {
    transform: scale(1.25);
    color: #aa0362;
  }
  90% {
    transform: scale(1.29);
    color: #aa0362;
  }
}

.heart-animation {
  animation: heartBeat 0.5s ease forwards;
  transition: color 0.8s ease;
}

.epr_-99lr9q {
  background-color: black;
}

.emoji-black * {
  &:focus {
    outline: #aa0362;
  }
}
.hover-bg {
  background-color: black;
}

.hover-bg:hover {
  background-color: #262626c0;
}
.show-feather {
  display: inline-block;
}
.gap {
  gap: 3px;
}
.more-bottom-height {
  margin-bottom: 1rem;
}
@media (min-width: 1300px) {
  .right-width {
    width: 20%;
  }
  .middle-width {
    width: 55%;
  }
  .left-width {
    width: 25%;
  }
  .showIcon {
    display: inline-block;
  }
  .fixPosition {
    gap: 10px;
    justify-content: left;
  }
  .px-width {
    padding: 0.9rem 0.7rem;
  }
  .width {
    width: fit-content;
  }
  .show-feather {
    display: none;
  }
  .showPost {
    display: inline-block;
  }

  .showPostName {
    display: flex;
  }
  .gap {
    gap: 5px;
  }
  .more-bottom-height {
    margin-bottom: 1rem;
  }
  .mainPadding {
    padding-left: 60px;
    padding-right: 60px;
  }
  .left {
    left: 6%;
  }
  .fullWidth {
    width: full;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .padding {
    padding: 0.75rem;
  }
}
